@using HHAM.Models
@model LoginViewModel
<div class="d-flex justify-content-center align-items-center container ">
    <div class="row" style="padding-top:5%;">

                <div class="card-body">
                    <h5 class="card-title text-center">Sign In</h5>
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group" >
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control"})
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.ActionLink("Register as a new user", "Register")
                        </div>

                        <div class="form-group">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>

                        <div class="form-label-group" style="padding-top:10px;">
                            <input type="submit" value="Log in" class="btn btn-default" />
                        </div>

                    }
                </div>

    </div>
</div>